---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout>
  <main class="grid min-h-screen place-items-center">
    <h1 class="font-serif text-6xl text-bronze">Mariia Solves</h1>
  </main>
</BaseLayout>
