---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
---
<BaseLayout>
  <span id="top"></span>
  <Header />
  <main>
    <Hero />
    <About />
  </main>
</BaseLayout>
