---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Services from "../components/Services.astro";
import Work from "../components/Work.astro";
import WhyMe from "../components/WhyMe.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---
<BaseLayout>
  <span id="top"></span>
  <Header />
  <main>
    <Hero />
    <About />
    <Services />
    <Work />
    <WhyMe />
    <Contact />
  </main>
  <Footer />
</BaseLayout>
