---
import Header from "./Header.astro";
import Hero from "./Hero.astro";
import WhyTrust from "./WhyTrust.astro";
import About from "./About.astro";
import HowIWork from "./HowIWork.astro";
import WhoIWorkWith from "./WhoIWorkWith.astro";
import Business from "./Business.astro";
import OfficialCooperation from "./OfficialCooperation.astro";
import FinalMessage from "./FinalMessage.astro";
import Contact from "./Contact.astro";
import Footer from "./Footer.astro";
---
<span id="top"></span>
<Header />
<main>
  <Hero />
  <WhyTrust />
  <About />
  <HowIWork />
  <WhoIWorkWith />
  <Business />
  <OfficialCooperation />
  <FinalMessage />
  <Contact />
</main>
<Footer />
